body{
    overflow-x: hidden;
}

.empty-row{
    height: 20px;
    padding: 1px;
}

/* font style */
.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

/* color */
.white{
    color: white !important;
}

.grey{
    color: grey !important;
}

.bg-orangered{
    background-color: orangered !important;
}

/* shadow */
.shadow{
    -moz-box-shadow:    outset 0 0 10px #000000;
    -webkit-box-shadow: outset 0 0 10px #000000;
    box-shadow:         outset 0 0 10px #000000;
}

.one-edge-shadow {
    box-shadow: 0 10px 6px -6px grey;
}

/*Position*/
.center{
    text-align: center;
}

.right{
    float: right;
}

.left{
    float: left;
}

.outer {
    width: 100%;
    text-align: center;
}
  
.inner {
    display: inline-block;
    left: 50%;
}

.center-item {
    display: flex;
    flex-wrap: wrap; /* optional. only if you want the items to wrap */
    justify-content: center; /* for horizontal alignment */
    align-items: center; /* for vertical alignment */
}

/*font style*/
.bold{
    font-weight: bold;
}

.copyright {
    font-family: 'Sanomat Grab Web Regular', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-size: 12px;
    color: rgba(255,255,255,0.6);
    line-height: 1.5;
    outline: none;
    text-align: center;
}

.terms{
    text-transform: initial !important;
}

.note{
    color: grey;
    font-size: 0.75em;
    padding-top: 10px;
}

/*border*/
.border-orangered{
    border-color: orangered !important;
}

.border-white{
    border-color: white !important;
}

/*button*/
.btn-home{
    color: #0976b4;
    background-color: transparent;
    border: 1px solid #0976b4;
}

.btn-signup{
    background-color: transparent;
    border: 2px solid #1F618D;
    color: white !important;
}

.btn-login{
    background-color: transparent;
    border: 0px !important;
    color: white !important;
}

.btn-reset{
    color: black;
    background-color: white;
    border: 1px solid #7F8C8D;
}

.btn-submit{
    color: white;
    background-color: #2471A3;
    border: 1px solid #7FB3D5;
}

/* Cursor */
.pointer{
    cursor: pointer;
}

/* Error */
.input-error > input{
  border: 1px solid #f79483;
  animation: shaking 0.4s linear;
  -webkit-animation: shaking 0.4s linear;
}

.input-error > .control-label{
  color: #f79483;
}

.error-message{
  color: #f79483 !important;
  font-size: .75rem;
  line-height: 1;
  margin-left: 4px;
}